{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
	 <meta charset="utf-8">
	 <title>{% block title %}{% endblock %}</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen">
	 <link rel="stylesheet" href="{% static 'css/app.css' %}" media="screen">
	 
	 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	 <!--[if lt IE 9]>
	   <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
	   <script src="../bower_components/respond/dest/respond.min.js"></script>
	 <![endif]-->

	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">My Website</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
      </div>
    </div>


	<div class="container" id="main-container">
		<div class="row">
			<div class="col-md-2">
				{% include 'side_nav.html' %}
			</div>
			<div class="col-md-10">
				{% block content %} {% endblock %}
				
				<div id="section-read-next">
				<h2 class="section-header">What to read next?</h2>
				{% include 'read_next.html' %}
				</div>
			
			</div>
		</div>
		
		
		
	
	</div>
	
	
	

	
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
	{% for article in read_next %}
	<script>
	  $("#read-next-{{forloop.counter}}").backstretch("{{article.hero_image.url}}");
	</script>
	{% endfor %}
    {% block js %} {% endblock %}
  </body>
</html>