<div class="left-sidebar full-height">
     <ul class="nav nav-pills nav-stacked" id="nav-tabs-id">

     	<li class="nav-item active">
     		<a href="#" class="nav-link" data-toggle="tab" data-target="#" ui-sref="articlelist"  ui-sref-active="articlelist">Articles</a>
     	</li>
       <li class="nav-item">

       	<a href="#" class="nav-link" data-target="#" data-toggle="tab">Page 2</a>
       </li>
       
        <li class="nav-item">
              <a href="#" class="nav-link" data-toggle="tab" data-target="#">Page 3</a>
         </li>
           
       
       <li class="nav-item">
       	<a href="#" class="nav-link" data-toggle="tab" data-target="#">Page 4</a>
             </li>
      
	
     </ul>
</div>