<div class="left-sidebar full-height">
     <ul class="nav nav-pills nav-stacked" id="nav-tabs-id">

     	<li class="nav-item active">
     		<a href="#" class="nav-link" data-target="#dashboard-tab">Dashboard</a>
     	</li>
       <li class="nav-item">

       	<a href="#" class="nav-link" data-toggle="tab">Candidates</a>
       </li>
       
        <li class="nav-item">
              <a href="#" class="nav-link" id="topics-tab-id" data-toggle="tab" data-target="#topics-tab">Topics</a>
         </li>
           
       
       <li class="nav-item">
       	<a href="#" class="nav-link" data-toggle="tab">Tests</a>
             </li>
      
	<li class="nav-item">
       	<a href="#" class="nav-link" data-toggle="tab" data-target="#all-test-invites-tab">Test Invites</a>
             </li>
      
     
       <li class="nav-item">
       	<a href="#" class="nav-link" data-toggle="tab" data-target="#evals-tab">Admins</a>
       </li>
     </ul>
</div>